.buttons{
    margin: 25px;
}

.addSchool, .showSchools{
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: auto 10px;
    color: #fff;
    background-color: #0070f3;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.addSchool:hover, .showSchools:hover{
    background:#466992 ;
    color: #fff;
}